@import "tailwindcss";

body {
  background-color: #FAFAF9;
  /* Ivory / Off-white */
  color: #1E293B;
  /* Dark Slate */
}


h1,
h2,
h3 {
  font-family: var(--font-playfair), serif;
}

p,
a,
button,
span {
  font-family: var(--font-inter), sans-serif;
}